[Unit]
Description=rpc bootparam daemon
Requires=rpcbind.socket
Wants=network-online.target
After=network-online.target rpcbind.socket

[Service]
Type=forking
ExecStart=/usr/local/sbin/bootparamd -r 172.17.2.1

[Install]
WantedBy=multi-user.target
